<ul class="nav flex-column">
    <li><a href="@Url.Action("Index","Home")" class="nav-link"><i class="bi bi-house me-2"></i> Dashboard</a></li>
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager"))
    {
        <li><a href="@Url.Action("UserList","UserManagement")" class="nav-link"><i class="bi bi-people me-2"></i> User List</a></li>
    }
    
    <li><a href="@Url.Action("TodoList","Todo")" class="nav-link"><i class="bi bi-list-check me-2"></i> Todo List</a></li>
</ul>