
@model TodoApplication.Dto.UserCreateDto;
@{
    Layout = "/Views/Shared/_RegisterLayout.cshtml";
    ViewData["Title"] = "Register";
}

<main class="content">

    <div class="card auth-card p-4">
        <h3 class="text-center fw-bold mb-4">Sign up</h3>

        <form method="post" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            <!-- Name -->
            <div class="form-floating mb-3">
                <input asp-for="first_name" class="form-control" id="first_name" placeholder="First Name">

                <label for="first_name">First Name</label>
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="last_name"  class="form-control" id="last_name" placeholder="Last Name">
                <label for="last_name">Last Name</label>
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>

            <!-- Email -->
            <div class="form-floating mb-3 position-relative">
                <input asp-for="email" 
                       class="form-control"
                       id="email"
                       placeholder="Email">
                <label for="email">Email</label>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="form-floating mb-4">
                <input asp-for="password" 
                       class="form-control"
                       id="password"
                       placeholder="Password">
                <label for="password">Password</label>
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>

            <!-- Sign up button -->
            <button type="submit" class="btn btn-primary w-100 mb-3">
                Sign Up
            </button>

            <!-- Login -->
            <div class="text-center mb-3">
                <span class="text-muted">Already have an account?</span>
                <a asp-action="Login" class="fw-semibold">Log In</a>
            </div>

        </form>
    </div>
</main>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>



