@model TodoApplication.Dto.CreateTodoDto

@{
    ViewData["Title"] = "Edit Todo";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Edit Todo</h5>
        </div>

        <div class="card-body">
            <form method="post">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input asp-for="title" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea asp-for="description" class="form-control" rows="4"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Deu Date</label>
                    <input asp-for="due_date" 
                           type="datetime-local" 
                           class="form-control " 
                    />

                </div>

                <div class="mb-3">
                    <label class="form-label">Priority</label>
                    <select asp-for="priority"
                            asp-items="Html.GetEnumSelectList<TodoApplication.Enum.todo_priority>()"
                            class="form-select">
                    </select>
                </div>

                <div class="d-flex justify-content-end">
                    <a asp-action="TodoList" class="btn btn-secondary me-2">Cancel</a>
                    <button  class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>